/*all*/
* {
	font-family: 'Satisfy', cursive;
}
a:visited {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
ul {
  list-style: none;
}
/*body {
	background-image: url("IMG_2553 2.jpg");
	background-size: cover;
}*/


/*Jumbotron*/
.cover {
	color: black;
	text-align: center;
	height: 770px;
	width: auto;
	margin: 0 auto;
	position: relative;
}
.cover img {
	width:100%;
    height:100%;
    max-width:100%;
    max-height:100%;
    filter:brightness(50%);
}
.title {
	position: absolute;
	color: white;/*文字は白に*/
  	top: 0;
  	left: 0;
  	top: 40%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
  	font-size: 100px;
}
.title p {
	margin: 0px;
}
/*profile*/
.profile {
	text-align: center;
	width: 70%;
	margin: auto;
}
.profile img {
    width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
    margin-left: 20px;
    margin-top: 30px;
}
.profile p {
	font-size: 20px;
}
.pfcontent {
	height: 100% auto;
	color: black;
	padding: auto;
	float: left;
	width: 50%;
	padding-right: 10px;
	padding-left: 10px;
    transition: .3s ease-in-out;
}
/*container*/
.ribbon3 {
	text-align: center;
	clear: both;
}
/*content*/
.row {
	margin: 0px auto;
}
.places {
	/*border: 1px dotted black;*/
	height: 100% auto;
	color: white;
	padding: auto;
	float: left;
	width: 33%;
	padding-right: 10px;
	padding-left: 10px;
    transition: .3s ease-in-out;
}
.places img {
	width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.places img:hover {
	opacity: 0.8;
	filter:brightness(50%);
}
/*places*/

.power {
	max-width: 100%;
	max-height: 100%;
	overflow:hidden;
	position: relative;
}
.power img {
    -moz-transition: -moz-transform 0.5s linear;
    -webkit-transition: -webkit-transform 0.5s linear;
    -o-transition: -o-transform 0.5s linear;
    -ms-transition: -ms-transform 0.5s linear;
    transition: transform 0.5s linear;
}
.power img:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.power p {
	overflow: hidden;
	position: absolute;
	color: white;/*文字は白に*/
  	top: 0;
  	left: 0;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
  	font-size: 50px;
}
.power p:hover {
	opacity: 1;
}
/*websites*/
.websites {
	height: 100% auto;
	color: white;
	padding: auto;
	float: left;
	width: 50%;
	padding-right: 10px;
	padding-left: 10px;
    transition: .3s ease-in-out;
}
.websites img {
	width:auto;
    height:auto;
    max-width:100%;
    max-height:100%;
}
.websites img:hover {
	opacity: 0.8;
	filter:brightness(50%);
}
/*footer*/
.footer {
	text-align: center;

}
.icon {
	height: 50px;
	width: 50px;
}



